@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.match-card {
  color: $navy;
  display: flex;
  background-color: $blue;
  flex-direction: column;
  width: 44%;
  align-items: center;
  margin: 0.5rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &__title {
    font-weight: 600;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.3rem;
  }

  &__img {
    width: 8rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
}

.watched-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-weight: 500;
    font-size: 1rem;
    color: $navy;
  }
}

input[type="checkbox"] {
  width: 40px;
  height: 20px;
  background-color: #ecf0f1;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: none;
  transition: background-color 0.3s;
}

input[type="checkbox"]:checked {
  background-color: $green;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: $white;
  border-radius: 50%;
  transition: transform 0.3s;
}

input[type="checkbox"]:checked:before {
  transform: translateX(25px);
}

.star-rating {
  margin-bottom: 1rem;
}
