$max-width: 425px;
$wrapper-padding: 0.5rem 1rem 0.5rem 1rem;

$box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);

$border-radius: 10px;

$page-margin: 8rem 0;


//colours

$blue: #0cc0df;
$white: #ffffff;
$navy: #2c3e50;
$green: #2ecc71;
