@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    background-color: $blue;
    height: 5rem;
    max-width: 393px;
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
    padding: $wrapper-padding;
    border-bottom: 2px solid white;

    &__logo {
        width: 13rem;
        padding-top: 0.4rem;
    }

    &__div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;
    }

    &__login {
        height: 2rem;
    }

    &__icons-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
    }

    &__text {
        margin-top: 0.2rem;
    }
}