@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.footer {
position: fixed;
z-index: 20;
bottom: 0;
width: 100%;
max-width: 393px;
padding: $wrapper-padding;
background-color: $blue;
height: 4rem;
display: flex;
align-items: center;
justify-content: space-around;
border-top: 1.5px splid white;


&__icons-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

&__text {
    margin-top: 0.2rem;
}

&__icon {
    height: 2rem;
}
}