@use "./styles/partials/typography" as*;
@use "./styles/partials/variables" as*;

.App {
  text-align: center;
  height: 100vh;
  background-color: black;
  max-width: $max-width;
  overflow: scroll;
}

